<div>
  <h2 class="text-danger">Contact Our</h2>
  <h2>Customer Support Center</h2>
</div>
<div>
  <h4 center>Contact Information</h4>
  <h5>Please fill out your contact information below </h5>
</div>
<div class="row">
  <label for="exampleFormControlInput1" class="form-label">Name*</label>
  <div class="col">
    
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address*</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Phone*</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" >
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Address*</label>
  <input type="email" class="form-control" id="exampleFormControlInput1">
</div>

<router-outlet />
